<main [class.unicorn-dark-theme]="isDarkTheme">
  <div *ngIf="!isLoginUrl">
    <mat-toolbar color="primary">
      <span>Taishan Admin</span>
      <span class="spacer" [style]="'flex: 1 1 auto;'"></span>
      <div class="logout-container">
        <span>{{ user?.userName }}</span>
        <button mat-icon-button (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
        <button mat-icon-button (click)="changeTheme()">
          <mat-icon *ngIf="isDarkTheme">wb_sunny</mat-icon>
          <mat-icon *ngIf="!isDarkTheme" color="accent">brightness_3</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <router-outlet *ngIf="isLoginUrl"></router-outlet>
</main>
